<div class="devise remainder-height v-center-parent">
  <div class="v-center-child">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :name do %>
              <span class="screenreader">Name (will be displayed if you comment on something)</span>  
            <% end %>

            <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Name (will be displayed if you comment on something)" %>
          </div>

          <div class="field">
            <%= f.label :email do %>
              <span class="screenreader">Email</span>  
            <% end %>

            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>

          <div class="field">
            <%= f.label :password do %>
              <span class="screenreader">Password</span>  
            <% end %>

            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>

            <% if @minimum_password_length %>
              <span class="dn">(<%= @minimum_password_length %> characters minimum)</span>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation do %>
              <span class="screenreader">Confirm Password</span>  
            <% end %>

            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %>
          </div>

          <div class="row">
            <div class="col-sm-6">
            </div>

            <div class="actions col-sm-6 tac">
              <%= f.submit "Sign up", class: "btn form-control" %>
            </div>
          </div>
        <% end %>

        <div class="clb"></div>

        <hr class="mt40">

        <div class="or text-s">OR</div>

        <p class="tac fwb">Been before?</p>

        <div class="col-sm-6 col-sm-offset-3">
          <%= link_to "Log in", new_session_path(resource_name), class: "btn form-control" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="clb"></div>
</div>

