<div class="comment por" id="comment-container-<%= comment.id %>">
  <h3 class="di"><%= comment.user.name %></h3>
  
  <p class="time-ago poa t0 text-s">
    <%= time_ago_in_words comment.created_at %> ago
    <% if can? :manage, comment %>
      - <span class="comment-edit-reveal tdu" id="#comment-edit-<%= comment.id %>" data-comment-edit-id="<%= comment.id %>">Edit</span>
      <%= link_to "Delete", comment_path(comment), method: :delete, remote: true %>
    <% end %>
  </p>
  
  <p class="comment-content" id="comment-content-<%= comment.id %>">
    <%= comment.content %>
  </p>
  
  <div class="comment-edit pt10 pb10" id="comment-edit-<%= comment.id %>" style="display:none;">
    <%= render "posts/edit_comment", comment: comment %>
  </div>
 
  <% if comment.comments.any? %>
      <% comment.comments.order("created_at ASC").each do |reply| %>
      <div class="reply por">
        <h3><%= reply.user.name %></h3>
        <p class="time-ago poa t0 text-s">
          <%= time_ago_in_words reply.created_at %> ago

          <% if can? :manage, reply %>
            - <span class="comment-edit-reveal tdu" id="#comment-edit-<%= reply.id %>" data-comment-edit-id="<%= reply.id %>">Edit</span>
            <%= link_to "Delete", comment_path(reply), method: :delete, remote: true %>
          <% end %>
        </p>

        <p id="comment-content-<%= reply.id %>">
          <%= reply.content %>
        </p>

        <div class="comment-edit pt10" id="comment-edit-<%= reply.id %>" style="display:none;">
          <%= render "posts/edit_comment", comment: reply %>
        </div>
     
      </div>
    <% end %>
  <% else %>
    <p class="tar m0">
      <span class="reply-reveal text-s tdu" id="#reply-<%= comment.id %>" data-comment-id="<%= comment.id %>">Reply to this comment</span>
    </p>
  <% end %>

  <div id="reply-<%= comment.id %>" class="comment-reply-form mt20" style="<%= "display:none;" unless comment.comments.any? %>">
    <% if current_user %>
    <%= form_for(Comment.new, remote: true) do |f| %>
        <%= f.label :content do %>
          <span class="screenreader">Content</span>
        <% end %>
        <%= f.text_area :content, class: "form-control" %>

        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.hidden_field :comment_id, value: comment.id %>

        <div class="tar">
          <%= f.submit "Add Comment", class: "btn" %>
        </div>
      <% end %>
    <% else %>
      <p>
        You need to <%= link_to "log in", new_user_session_path %> or <%= link_to "register", new_user_registration_path %> to post a comment. It takes 20 seconds and I promise won't spam you!
      </p>
    <% end %>
  </div>
</div>