<% unless item.id.nil? %>
  <li class="bli_<%= item.id %>">
    <%= item.title.capitalize %>: 
  
    <% if item.bucket_list_items.where(bucket_list_id: current_user.bucket_list.id).first.status == "done" %>
      <%= item.bucket_list_items.where(bucket_list_id: current_user.bucket_list.id).first.status %>
    <% else %>
      <%= form_for(item.bucket_list_items.where(bucket_list: @bucket_list).first, remote: true) do |f| %>
        <%= f.hidden_field :status, value: "done" %>
        <%= hidden_field_tag :context, "list" %>
        <%= f.submit "Mark as Done", class: "btn" %>
      <% end %>
    <% end %>

    <%= form_for(item.bucket_list_items.where(bucket_list: @bucket_list).first, remote: true, method: :delete) do |f| %>
      <%= f.submit "Remove", class: "btn btn-error" %>
    <% end %>
  </li>
<% end %>