<div id="item_card_<%= item.id %>" class="item">
  <div>
    <%= image_tag item.image_url || "placeholder.jpg" %>
  </div>

  <h3 class="pl10 pr10"><%= item.title %></h3>

  <div class="buttons-container">
    <div class="col-sm-6 tac">
      <% if @user_items.include?(item) %>
        <p>Added</p>
      <% else %>
        <p>
          <%= form_for(BucketListItem.new, remote: true) do |f| %>
            <%= f.hidden_field :item_id, value: item.id %>
            <%= f.submit "+ Add", class: "btn-none" %>
          <% end %>
        </p>
      <% end %>
    </div>
    
    <div class="col-sm-6 tac">
      <% if @completed_user_items.include?(item) %>
        <p>Done</p>
      <% elsif @user_items.include?(item) %>
        <p>
          <%= form_for(item.bucket_list_items.where(bucket_list: @bucket_list).first, remote: true) do |f| %>
            <%= f.hidden_field :status, value: "done" %>
            <%= hidden_field_tag :context, value: "card" %>
            <%= f.submit "Mark as Done", class: "btn-none" %>
          <% end %>
        </p>
      <% else %>
        <p>
          <%= form_for(BucketListItem.new, remote: true) do |f| %>
            <%= f.hidden_field :item_id, value: item.id %>
            <%= f.hidden_field :status, value: "done" %>
            <%= f.submit "Mark as Done", class: "btn-none" %>
          <% end %>
        </p>
      <% end %>
    </div>
    
    <div class="clb"></div>
  </div>
</div>
