<% if @post.published_at || (current_user && current_user.is_admin?) %>
  <main class="posts">
    <article>
      <header class="primary remainder-height tac v-center-parent" style="background-image:url(<%= image_path @post.header_image_url %>)">
        <div class="header-content v-center-child">
          <div class="header-content-border">
            <h1><%= @post.title %></h1>
            <span class="author">By Danny Santos</span>
            <time><%= @post.created_at.strftime("%d/%m/%Y") %></time>
            <span class="length"><%= "< " if @post.minutes_to_read == 1 %><%= @post.minutes_to_read %> minute read</span>
          </div>
        </div>
      </header>

      <div class="col-sm-8 col-sm-offset-2">
        <%= @post.content.html_safe %>
      </div>

      <footer class="clb"></footer>
    </article>
    
    <section class="comments">
      <div class="col-sm-6 col-sm-offset-3 text-s">
        <h2>Have your say</h2>

        <p>
          I love to be proven wrong. It means that I've learnt something. Too many people stick stubbornly to their opinions and refuse to budge. The aim of a debate should never be to 'win', it should be to find truth and understanding.
        </p>
        
        <ul>
          <li>It's ok to offend</li>
          <li>It's ok to be offended</li>
          <li>It's ok to attack somebody's <strong>opinion</strong></li>
          <li>It's not ok to attack somebody personally</li>
        </ul>
        
        <p>
          With that in mind I eagerly invite you to have your say, whether it's to support my argument or oppose it.
        </p>

        <% if current_user %>
        <%= form_for(@comment, remote: true, authenticity_token: true) do |f| %>
            <%= f.label :content do %>
              <span class="screenreader">Content</span>
            <% end %>
            <%= f.text_area :content, class: "form-control" %>

            <%= f.hidden_field :post_id, value: @post.id %>

            <div class="tar">
              <%= f.submit "Add Comment", class: "btn" %>
            </div>
          <% end %>
        <% else %>
          <p>
            You need to <%= link_to "log in", new_user_session_path %> or <%= link_to "register", new_user_registration_path %> to post a comment. It takes 20 seconds and I promise won't spam you!
          </p>
        <% end %>

        <% unless @comments.empty? %>
          <div id="comments-container">
            <%= render @comments %>
          </div>
        <% else %>
          <p>No comments</p>
        <% end %>
      </div>
      
      <div class="clb"></div>
    </section>

    <% if current_user && current_user.is_admin? %>
      <nav class="tac mb20 clb">
        <ul class="lisn">
          <li>
            <%= link_to 'Edit', edit_post_path(@post), class: "btn" %>
          </li>

          <% unless @post.published_at %>
            <li>
              <%= form_for(@post) do |f| %>
                <%= f.hidden_field :published_at, value: Date.today %>
                <%= f.submit 'Publish', class: "btn" %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= form_for(@post) do |f| %>
                <%= f.hidden_field :published_at, value: "" %>
                <%= f.submit 'Unpublish', class: "btn" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    <% end %>
  </main>
<% end %>