<!DOCTYPE html>
<html>
  <head>
    <title>DannysantosBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="primary poa t0 w100p">
      <%= link_to "DannySantos.me", root_path, class: "ml20" %>
    </nav>
    
    <%= yield %>
    
    <footer class="primary">
      
    </footer>
  </body>
</html>
