<!DOCTYPE html>
<html>
  <head>
    <title>Nomaddict</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if @post %>
      <% unless @post.id.nil? %>
        <progress value="0"></progress>
      <% end %>
    <% end %>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
     
    <nav class="primary">
      <div class="col-sm-4">
        <ul class="lisn">
          <li>
          </li> 
        </ul>
      </div>
      
      <div class="col-sm-4 tac">
        <%= link_to "Nomaddict", root_path %>
      </div>
      
      <div class="col-sm-4">
        <ul class="w100p tar lisn">
          <li>
            <%= link_to "Make a Bucket List", current_user ? bucket_list_path(current_user.bucket_list) : new_user_session_path %>
          </li> 
        </ul>
      </div>
    </nav>
    
    <div class="container-fluid">
      <%= yield %>
    </div>
    
    <footer class="primary">
      
    </footer>
  </body>
</html>
